/* 
Applies to the main div in the home page to center the text 
and cover the screen with the background image
*/
#main{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    text-align: center;


    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Styling the top text of the home page */
#top_text{
    font-family: "Calibri";
    font-size: 24pt;
}

/* Styling the bottom text of the home page */
#bot_text{
    font-family: "Calibri";
    font-size: 10pt;

}