.content{
    margin-top: 50px;
}

.disabled-link {
    pointer-events: none;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }